.home {
  margin: 20px 100px;
}
.h2 {
  font-size: 20px;
  color: white;
}
.input {
  padding-left: 39%;
  box-sizing: border-box;
}

.inputField {
  height: 24px;
  border: 2px rgb(26, 23, 23) solid;
  border-radius: 1px;

  margin-right: 2px;
  transition: all 0.5s;
}

.inputField:hover {
  background-color: rgb(238, 111, 111);
}

.inputField,
.button {
  background-color: rgb(0, 255, 115);
}
.button {
  height: 30px;
  border: 2px rgb(26, 23, 23) solid;
  transition: all 0.5s;
}
.button:hover {
  background-color: rgb(238, 111, 111);
}

.weatherTiles {
  margin-left: 40px;
}
